@font-face {
    font-family: 'Cascadia Code';
	src: url("./CascadiaCode.woff2");
}
:root {
	--dark: rgb(18, 18, 18);
	--light: rgb(204, 204, 204);
	--blue: rgb(18, 18, 204);
}
body {
	font-family: "Cascadia Code", monospace;
	padding: 1%;
	min-height: 100vh;
	padding-bottom: 40px;
	background-color: white;
}
h1 {
	background-color: black;
	color: white;
	padding: 8px;
	padding-bottom: 20px;
	margin-bottom: 0px;
}
p {
	padding-right: 20px;
	line-height: 130%;
}
a {
	text-decoration: none;
}
#content {
	overflow: clip;
}
ul#tab {
	background: none;
	margin: 0px;
	padding: 0px;
	list-style: none;
	overflow: hidden;
	display: flex;
}
ul#tab > * {
	width: 100%;
}
ul#tab li a {
	text-align: center;
	padding: 8px;
	background-color: black;
	color: white;
	display: block;
}
ul#tab li a:hover {
	background-color: var(--light);
	color: var(--dark);
	cursor: pointer;
}
ul#tab li a#selected {
	background-color: white;
	color: black;
}
ul#tab li a#selected:hover {
	background-color: var(--light);
	color: var(--dark);
}	
.em {
	background-color: rgb(204, 18, 18);
	color: white;
	padding: 4px;
}
#footer {
	padding: 8px;
	bottom: 0;
	margin-bottom: 0;
	left: 0;
	width: 100%;
	position: fixed;
	background-color: var(--blue);
	color: rgb(0, 180, 200);
	z-index: 1;
}
.container {
	position: relative;
	padding-bottom: 56.25%;
}
.video {
	position: absolute;
	padding-top: 4px;
	padding-bottom: 4px;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.ascii {
	float: right;
	margin-left: 16px;
	margin-right: 0;
	margin-bottom: 40px;
	margin-top: 4px;
	bottom: 0;
	padding: 16px;
	height: 33vw;
	width: 33vw;
	background-color: black;
}
.apple-music-container {
	height: 140px;
	overflow: clip;
	position: fixed;
	bottom: 0;
	transition: 0.2s ease-out;
}
.apple-music-container:hover {
	height: 454px;
	overflow: clip;
	position: fixed;
	bottom: 40px;
}
.apple-music {
	border: solid var(--blue);
	border-width: 2px;
}

@media only screen and (max-width: 600px) {
	ul#tab {
		display: block;
	}
	.ascii {
		float: none;
		margin: 0;
		padding: 8px;
		height: 87vw;
		width: 100%;
		background-color: black;
	}
	.apple-music-container {
		height: 454px;
		overflow: visible;
		position: relative;
		padding-top: 16px;
		bottom: 0;
		transition: 0.2s ease-out;
	}
	.apple-music-container:hover {
		height: 454px;
		overflow: visible;
		position: relative;
		padding-top: 16px;
		bottom: 0;
		transition: 0.2s ease-out;
	}
	.apple-music {
		border: none;
		width: 100%;
		position: relative;
	}
}

@media (hover: none) and (pointer: coarse) {
	.apple-music-container {
		height: 454px;
		overflow: visible;
		position: relative;
		padding-top: 16px;
		bottom: 0;
		transition: 0.2s ease-out;
	}
	.apple-music-container:hover {
		height: 454px;
		overflow: visible;
		position: relative;
		padding-top: 16px;
		bottom: 0;
		transition: 0.2s ease-out;
	}
}
